<main>
  <div class="container-fluid">
    <!--Input-->
    <!--Input heading-->
    <div class="row mb-3">
      <div class="col">
        <span class="press-start-2p-font">What's On Your Mind?</span>
      </div>
    </div>
    <!--Input textbox-->
    <div class="row mb-5">
      <div class="col-2"></div>
      <div class="col-8">
        <form action="/submit" method="post">
          <textarea
          name="ypost"
          type="text"
          class="form-control"
          maxlength="300"
          oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
          ></textarea>
          <button type="submit" class="btn btn-dark mt-3">Post</button>
        </form>
      </div>
      <div class="col-2"></div>
    </div>

    <!--Cards-->
    <!--Cards heading-->
    <div class="row mb-3">
      <div class="col">
        <span class="press-start-2p-font">The Yon Mind!</span>
      </div>
    </div>
    <!--Card box-->
    <div class="row mb-5">
      <div class="col-2"></div>
      <div class="col-8">
        <% if (locals.posts && posts.length > 0) {%>
          <% posts.forEach(function(post, index) { %>
            <div id="post-<%= index %>" class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">y/username</h5>

                <% if (locals.modPost) {%>
                  <form action="/modified" method="post" style="display: inline-block; width: 100%;">
                    <textarea name="postMod" type="text" class="form-control mb-2" style="display: inline-block;" maxlength="300" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"></textarea>
                    <input type="hidden" name="index" value="<%= index %>">
                    <button type="submit" class="btn btn-dark mr-2">Modify</button>
                    <form action="/delete" method="post" style="display: inline-flex;">  
                      <input type="hidden" name="index" value="<%= index %>">
                      <button type="submit" class="btn btn-dark mt-0 mx-1">Remove</button> 
                    </form>
                  </form>
                 
                <%} else {%>
                  <p class="card-text">
                    <%= post %>
                  </p>
                  <form action="/modify" method="post" style="display: inline-flex;">
                    <input type="hidden" name="index" value="<%= index %>">
                    <button type="submit" class="btn btn-dark mt-2">Modify</button>
                  </form>
                  <form action="/delete" method="post" style="display: inline-flex;">  
                    <input type="hidden" name="index" value="<%= index %>">
                    <button type="submit" class="btn btn-dark mt-0 mx-1">Remove</button> 
                  </form>
                <%};%>
                

                
              </div>
            </div>
          <% }); %>
      <% } else { %>
          <span class="oswald-font">Nothing here yet!</span>
      <% } %>

      </div>
      <div class="col-2"></div>
    </div>
  </div>
</main>
